.skills-section {
  padding: 120px 8%;
  background: #fafafa;
  overflow: hidden;
}

.section-header {
  text-align: center;
  margin-bottom: 80px;
}

.section-header h2 {
  font-size: 4rem;
  font-weight: 700;
  color: #111;
}

.underline {
  width: 90px;
  height: 4px;
  background: #111;
  margin: 15px auto 25px;
  border-radius: 999px;
}

.section-header p {
  color: #6b7280;
  font-size: 1.2rem;
}

/* GRID */

.skills-grid {

  display: grid;

  grid-template-columns:
    repeat(auto-fit, minmax(420px, 1fr));

  gap: 35px;
}

/* CARD */

.skill-card {

  background: white;

  border: 1px solid #e5e7eb;

  border-radius: 24px;

  padding: 30px;

  transition: .4s ease;
}

.skill-card:hover {

  transform:
    translateY(-10px)
    scale(1.02);

  box-shadow:
    0 20px 40px rgba(0,0,0,.08);
}

.card-header {

  display: flex;

  align-items: center;

  gap: 16px;

  margin-bottom: 35px;
}

.icon-box {

  width: 60px;
  height: 60px;

  border-radius: 14px;

  background: #f4f4f4;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box i {

  font-size: 24px;
}

.card-header h3 {

  font-size: 2rem;
}

/* SKILLS */

.skill {
  margin-bottom: 24px;
}

.skill-info {

  display: flex;

  justify-content: space-between;

  margin-bottom: 10px;
}

.skill-info span:first-child {

  font-weight: 600;
}

.skill-info span:last-child {

  color: #6b7280;
}

/* PROGRESS */

.progress {

  height: 12px;

  background: #e5e7eb;

  border-radius: 999px;

  overflow: hidden;
}

.progress-fill {

  width: 0;

  height: 100%;

  border-radius: 999px;

  background:
    linear-gradient(
      90deg,
      #05001f,
      #ff4d00
    );

  transition:
    width 1.5s ease;
}

/* REVEAL */

.reveal {

  opacity: 0;

  transform: translateY(80px);

  transition: .8s;
}

.reveal.show {

  opacity: 1;

  transform: translateY(0);
}

.reveal-left {

  opacity: 0;

  transform: translateX(-120px);

  transition: .8s;
}

.reveal-left.show {

  opacity: 1;

  transform: translateX(0);
}

.reveal-right {

  opacity: 0;

  transform: translateX(120px);

  transition: .8s;
}

.reveal-right.show {

  opacity: 1;

  transform: translateX(0);
}

/* RESPONSIVE */

@media(max-width:900px){

  .skills-grid{
    grid-template-columns:1fr;
  }

  .section-header h2{
    font-size:3rem;
  }
}

@media(max-width:500px){

  .skill-card{
    padding:20px;
  }

  .card-header h3{
    font-size:1.5rem;
  }
}