<section class="hero">

  <!-- Animated Background -->

  <div class="background-blur blur-1"></div>
  <div class="background-blur blur-2"></div>
  <div class="background-blur blur-3"></div>

  <!-- Floating Particles -->

  <div class="particles">

    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>

  </div>

  <!-- Profile -->

<img
  src="assets/images/profile.webp"
  width="220"
  height="220"
  fetchpriority="high"
  decoding="async"
  alt="Profile"
  class="profile reveal"
  appScrollReveal>

  <!-- Badge -->

  <div
    class="badge reveal"
    appScrollReveal>

    👋 Welcome To My Portfolio

  </div>

  <!-- Heading -->

  <h1
    class="hero-title reveal"
    appScrollReveal>

    Hi, I'm

    <span>
      Saravanan Durai
    </span>

  </h1>

  <!-- Subtitle -->

  <h2
    class="hero-subtitle reveal"
    appScrollReveal>

    Full Stack Software Engineer

  </h2>

  <!-- Description -->

  <p
    class="description reveal"
    appScrollReveal>

    Passionate Full Stack Developer specializing in
    Angular, Spring Boot, Java, Flutter and Firebase.
    I build scalable applications, modern user experiences,
    and efficient backend systems.

  </p>

  <!-- Buttons -->

  <div
    class="buttons reveal"
    appScrollReveal>

<button
  class="download-btn"
  (click)="downloadResume()"
  aria-label="Download Resume">
  

  <i class="fas fa-download"></i>
  Download CV

</button>

    <button class="learn-btn"
      (click)="scrollToSection('about')"
      aria-label="Learn More About Me">

      <i class="fas fa-user"></i>
      Learn More

    </button>

  </div>

  <!-- Social -->

  <div
    class="social-icons reveal"
    appScrollReveal>

    <a href="https://github.com/Ravanhub" target="_blank" rel="noopener noreferrer" aria-label="GitHub Profile">
      <i class="fab fa-github"></i>
    </a>

    <a href="https://www.linkedin.com/in/sa-ravanan-d/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn Profile">
      <i class="fab fa-linkedin"></i>
    </a>

    <a href="https://twitter.com/SaravananDurai9" target="_blank" rel="noopener noreferrer" aria-label="Twitter Profile">
      <i class="fab fa-twitter"></i>
    </a>

<a
href="https://mail.google.com/mail/?view=cm&fs=1&to=saravanandurai938@gmail.com"
  target="_blank" rel="noopener noreferrer"
  aria-label="Email Me">
  <i class="fas fa-envelope"></i>
</a>

  </div>

  <!-- Scroll Indicator -->

  <div class="scroll-indicator">

    <span></span>

  </div>

</section>