@import "@fortawesome/fontawesome-free/css/all.min.css";
html {
  scroll-behavior: smooth;
}

.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: all .9s ease;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
}

.reveal-left {
  opacity: 0;
  transform: translateX(-120px);
  transition: all .9s ease;
}

.reveal-left.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal-right {
  opacity: 0;
  transform: translateX(120px);
  transition: all .9s ease;
}

.reveal-right.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal-scale {
  opacity: 0;
  transform: scale(.7);
  transition: all .8s ease;
}

.reveal-scale.show {
  opacity: 1;
  transform: scale(1);
}

.reveal-rotate {
  opacity: 0;
  transform: rotate(10deg) scale(.8);
  transition: all .8s ease;
}

.reveal-rotate.show {
  opacity: 1;
  transform: rotate(0) scale(1);
}